<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tugaslur</title>

    <!-- My Css -->
    <link rel="stylesheet" href="./home/home.css" />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <!-- Font Google -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1 class="text-center text-light fw-bold py-4 d-block bg-dark">
      Tugaslur
    </h1>

    <a class="d-block text-info text-center my-4" href="/tugas"
      >klik untuk ikut berbagi</a
    >

    <div class="container">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Foto</th>
            <th scope="col">Orang</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img
                src="https://lh3.googleusercontent.com/a-/AOh14GhtCE-8dh6hA5KY0wZ_C6tH9NXWJ9Rnk2wIH8NZLw=s64"
                alt=""
              />
            </td>
            <td>Muhammad Rasyid Rafi</td>
            <td>
              <a
                href="https://drive.google.com/drive/u/0/folders/0B_G8QHX8cUNufmZlOFhJUkVoaWttcmFLdms2dDlieVJJMTE3aURwRlVmNHBrQk5rYUhGVk0"
                target="_blank"
                >Drive</a
              >
            </td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
